// Home Content

.home {

  .intro {

    .main-header-img {
      width: 100%;
    }

    h2 {
      padding: 15px;
    }

    p {
      padding:0 15px;

      @media @phone {
        margin-bottom: 5px;
      }
    }
  
  }

  .space-images {
    display: flex;
    flex-wrap: wrap;
    width: 100%;

    @media @phone {
      flex-direction: column;
      padding: 0 2.5rem;
    }

    img {
      width: 28%;
      margin: 20px 2.5%;
      border-radius: 20px;
      height: 100%;

      .img-hover();

      @media @phone {
        .mobile-img-style();
      }
    }

    .sky,
    .launch {
      @media @phone {
        display: none;
      }
    }

  }

  .visit-planets {
    padding: 15px;

    h3 {
      margin-top: 11px;
    }

    p {
      margin-top: 13px;
    }
  }

  .walk {
    margin-top: 60px;
    border-top: 1px solid @main-border-color;
    padding: 1.5rem 2.5rem;
    display: flex;
    justify-content: center;

    @media @phone {
      flex-direction: column-reverse;
      margin-top: 20px;
    }

    .walk-text {
      width: 50%;

      @media @phone {
        width: 100%;
      }

      h3 {
        margin-bottom: 10px;
      }

      p {
        margin-bottom: 26px;
      }

      .btn {
        .custom-btn();
      }
    }

    .walk-img {
      width: 46%;
      margin-left: 4%;

      @media @phone {
        .mobile-img-style();
      }
      
      img {
        width: 100%;
        height: auto;
        border-radius: 10px;

        .img-hover();
      }
    }
  }

  .subscribe {
    padding: 1.5rem 2.5rem;
    margin: 60px 0 30px 0;
    border-top: 1px solid @main-border-color;

    h3 {
      margin-bottom: 1rem;
    }

    .subscribe-wrap {
      display: flex;
      justify-content: space-between;

      @media @phone {
        flex-direction: column;
        line-height: 2;
      }

      .space-img {
        width: 46%;
    
        @media @phone {
          .mobile-img-style();
        }

          img {
            width: 100%;
            border-radius: 10px;
            .img-hover();
            .mobile-img-style();
          }
      }

      form {
        width: 50%;
        line-height: 1.5;

        @media @phone {
          display: flex;
          flex-direction: column;
          width: 100%;
        }
      
        label {
          font-size: 1.4rem;
          font-weight: 600;
        }
        
        input {
          margin: .8rem 0;
          padding: 8px;
          width: 100%;
          border: 1px solid @ebony-clay;
        }

        .btn {
          margin-top: 2rem;
          .custom-btn();
        }
      }
    }
  }
}// home